head
  title=pageTitle
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="description", content=description)
  meta(name="author", content=author)
  meta(name="viewport", content="width=device-width, initial-scale=1")

  //- Favicons
  include _favicons

  //- Website styles
  block styles
    link(rel="stylesheet", href=scssPath + "styles.scss")
