doctype html

html(lang="en", prefix="og: http://ogp.me/ns#")

  include _variables

  include _header

  body(itemscope, itemtype="http://schema.org/WebPage")

    block content

    include _footer
