.okSignalGenerator {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 8px;
}

.okSignalGeneratorControlPanel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.okSignalGeneratorContentPanel {
    height: 300px;
    padding: 4px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    overflow-y: auto;
}

.okSignalGeneratorListItem {
    min-width: max-content;

    padding: 8px;

    box-shadow: 0 0 0 1px var(--gray-a5);
    border-radius: 12px;
    border: 1px solid transparent;
}
